// loader page
.loader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $firstBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s all ease;
  z-index: 1000;
  .loader-object {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: $firstFontColor;
      animation: loader-animation 1.2s linear infinite;
    }
    div:nth-child(1) {
      top: 8px;
      left: 8px;
      animation-delay: 0s;
    }
    div:nth-child(2) {
      top: 8px;
      left: 32px;
      animation-delay: -0.4s;
    }
    div:nth-child(3) {
      top: 8px;
      left: 56px;
      animation-delay: -0.2s;
    }
    div:nth-child(4) {
      top: 32px;
      left: 8px;
      animation-delay: -0.6s;
    }
    div:nth-child(5) {
      top: 32px;
      left: 32px;
      animation-delay: -3.2s;
    }
    div:nth-child(6) {
      top: 32px;
      left: 56px;
      animation-delay: -2.0s;
    }
    div:nth-child(7) {
      top: 56px;
      left: 8px;
      animation-delay: -1.5s;
    }
    div:nth-child(8) {
      top: 56px;
      left: 32px;
      animation-delay: -0.3s;
    }
    div:nth-child(9) {
      top: 56px;
      left: 56px;
      animation-delay: -1.2s;
    }
  }
}

.loader-page--finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes loader-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// aside email adress
.aside-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  transform: rotate(90deg);
  height: 50px;
  width: 400px;
  bottom: 150px;
  left: 75%;
  z-index: 2;
  @media (max-width: 1199.98px) {
    right: 10%;
  }
  @media (max-width: 991.98px) {
    right: 18%;
  }
  @media (max-width: 880px) {
    right: 25%;
  }
  @media (max-width: 840px) and (orientation: landscape) {
    display: none;
  }
  @media (max-width: 767.98px) and (orientation: landscape) {
    display: none;
  }
  .aside-email {
    color: $firstFontColor;
    font-family: $firstFontFamily;
    letter-spacing: 1.6px;
    margin-right: 30px;
    font-size: 12px;
    text-shadow: 1px 1px 10px 1px $firstFontColor;
  }
  .aside-line {
    background-color: $firstFontColor;
    border: none;
    height: 1px;
    width: 100px;
  }
}
.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3%;
  width: calc(100% - 100px);
  min-width: 280px;
  min-height: 100vh;
  background-color: $firstBackgroundColor;
  padding: 3%;
  @media (max-width: 991.98px) {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: calc(100vh - 100px);
  }
}

.menu__link.active {
  color: $activeColor;
}

// animated titles
.animated_char {
  opacity: 0;
  transform: translateY(50px);
  transition: all .4s ease;
}

.animated_char.fade {
  opacity: 1;
  transform: translateY(0px);
}

// reveal webside elements
.reveal, .reveal-scroll {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active, .reveal-scroll.active {
  transform: translateY(0px);
  opacity: 1;
}