@mixin main-title {
  font-family: $secondFontFamily;
  font-size: $titleFontSize;
  margin-top: $titleMarginTop;
  margin-bottom: $titleMarginBottom;
  padding-top: $titlePaddingTop;
  padding-bottom: $titlePaddingBottom;
  letter-spacing: $titleLetterSpacing;
  color: $thirdFontColor;
}

@mixin main-subtitle {
  font-family: $secondFontFamily;
  font-size: $subtitleFontSize;
  margin-top: $subtitleMarginTop;
  margin-bottom: $subtitleMarginBottom;
  padding-top: $subtitlePaddingTop;
  padding-bottom: $subtitlePaddingBottom;
  letter-spacing: $subtitleLetterSpacing;
}

@mixin paragraph {
  font-family: $secondFontFamily;
  font-size: $paragraphFontSize;
  // margin-top: $paragraphMarginTop;
  margin-bottom: $paragraphMarginBottom;
  // padding-top: $paragraphPaddingTop;
  // padding-bottom: $paragraphPaddingBottom;
  letter-spacing: $paragraphLetterSpacing;
  line-height: $paragraphLineHeight;
  font-family: $secondFontFamily;
  color: darken($thirdFontColor, 30%);
    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 30px;
    }
    @media (max-width: 767.98px) {
      width: 70%;
      font-size: 16px;
      margin-bottom: 20px;
    }
    @media (max-width: 575.98px) {
      width: 100%;
      font-size: 14px;
    }
}